<div id="sidebar" class="bg-primary">
    <div class="tab d-flex flex-column" routerLink="">
        <img src="../../../../assets/icons/read.svg" class="mx-auto my-3">
        <h6 class="text-center font-weight-light">Read</h6>
    </div>
    <div class="tab d-flex flex-column" routerLink="/library">
        <img src="../../../../assets/icons/library.svg" class="mx-auto my-3">
        <h6 class="text-center font-weight-light">library</h6>
    </div>
    <div class="tab d-flex flex-column" routerLink="/settings">
        <img src="../../../../assets/icons/settings.svg" class="mx-auto my-3">
        <h6 class="text-center font-weight-light">Settings</h6>
    </div>
    <div class="tab d-flex flex-column" routerLink="/profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="../../../../assets/icons/profile.svg" class="mx-auto my-3">
        <h6 class="text-center font-weight-light">Profile</h6>
    </div>
</div>